body {
  background-color: white;
}

p {
  color: red;
}

.mobile {
  display: grid;
}

@media screen and (max-width: 900px) {
  body {
    background-color: rgb(255, 255, 255);
  }

  .big-image {
    display: none;
  }
  .small-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

}

@media screen and (min-width: 900px) {
  body {
    background-color: red;
    }
  .small-image {
    display: none;
  }

}
